* {
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 231, 231);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: rgb(93, 93, 93);
}

h3 {
    margin-top: -13px;
}

a {
    text-decoration: none;
    color: rgb(70, 94, 174);
}

.columns{
    float: none;
    margin: 10px auto;
}







